<h1>Edit <%= @team.name %></h1>

<h3>Invite a New Teammate</h3>
<p>Send an email to invite a caretaker to create an account and join <%= @team.name %>'s team.</p>
<p>Or, if they already have an account, they'll automatically be added and sent a welcome message.</p>
<%= form_for @invite, :url => patient_team_invites_path do |f| %>
    <%= f.hidden_field :team_id, :value => @team.id %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Send' %>
<% end %>
