<h1><%= @team.name %></h1>

<div id="appointments">
  <%= link_to "<", date: @date.prev_month %>
  <h2 id="month"><%= @date.strftime("%B %Y") %></h2>
    <%= link_to ">", date: @date.next_month %>
  <%= calendar @date do |date| %>
      <%= date.day %>
      <% if @appointments_by_date[date] %>
        <ul>
          <% @appointments_by_date[date].each do |appointment| %>
            <li><%= link_to appointment.name, appointment %></li>
          <% end %>
        </ul>
      <% end %>
  <% end %>
</div>