<h1><%= @team.name %></h1>

<div id="appointments">
  <%= link_to "<", date: @date.prev_month %>
  <h2 id="month"><%= @date.strftime("%B %Y") %></h2>
    <%= link_to ">", date: @date.next_month %>
  <%= calendar @date do |date| %>
      <%= date.day %>
      <% if @appointments_by_date[date] %>
        <ul>
          <% @appointments_by_date[date].each do |appointment| %>
            <div class="<%= 'unassigned' if appointment.user == nil %>">
              <li><%= link_to "#{appointment.datetime.strftime('%l:%M%P')} :  #{appointment.title}", patient_team_appointment_path(@team, appointment) %></li>
            </div>
          <% end %>
        </ul>
      <% end %>
  <% end %>
</div>

<%= link_to "New Appointment", new_patient_team_appointment_path(@team) %>