<%= form_for [@patient, :team, @appointment] do |f| %>

    <div class='form-group'>
        <%= f.label :title %></br>
        <%= f.text_field :title %>
    </div>
    <div class='form-group'>
        <%= f.label :doctor %></br>
        <%= f.text_field :doctor %>
    </div>
      <div class='form-group'>
        <%= f.datetime_select :datetime, ampm: :true %>
    </div>
    
    <div class="form-group">
        <%= f.label :suggested_team_member %>
        <%= collection_select :appointment, :suggested_user_id, @patient.users, :id, :email %>
    </div>
    
    <div class="form-group">
        <%= f.label :assign_appointment_to_myself %>
        <%= check_box_tag :assign_appointment_to_myself %>
    </div>
    
     <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
<% end %>