<h3><%= @appointment.title %></h3>
<p>Doctor: <%= @appointment.doctor %></p>
<p>Date: <%= @appointment.datetime.strftime('%a, %B %e, %G') %></p>
<p>Time: <%= @appointment.datetime.strftime('%l:%M%P') %></p>
<p>Address: <%= @appointment.address %></p>
<p>Assigned User: <%= @appointment.user ? @appointment.user.email : "Awaiting assignment" %></p>

<%= link_to "Edit Appointment", edit_patient_team_appointment_path, class: "btn btn-success" %>
<%= link_to "Delete Appointment", [@patient, @team, @appointment], method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete #{@appointment.title}?" } %>
<p><%= link_to "Back to Team Calendar", patient_team_path %></p>